{:tasks
 {uberjar (clojure "-X:uberjar")
  build (clojure "-M:native-image --no-fallback")
  clean (shell "rm -f ./*.txt herlsf herlsf.jar")
  main (clojure "-M:main")
  build:clean (do (run 'clean)
                  (run 'build))}}
